@font-face {
    font-family: 'Neue Plak Text';
    src: url('NeuePlakText-BlackItalic.woff2') format('woff2'),
        url('NeuePlakText-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Plak Text';
    src: url('NeuePlakText-Black.woff2') format('woff2'),
        url('NeuePlakText-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Plak Text';
    src: url('NeuePlakText-BoldItalic.woff2') format('woff2'),
        url('NeuePlakText-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Plak Text';
    src: url('NeuePlakText-Bold.woff2') format('woff2'),
        url('NeuePlakText-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Plak Text';
    src: url('NeuePlakText-Italic.woff2') format('woff2'),
        url('NeuePlakText-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Plak Text';
    src: url('NeuePlakText-LightItalic.woff2') format('woff2'),
        url('NeuePlakText-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Plak Text';
    src: url('NeuePlakText-Light.woff2') format('woff2'),
        url('NeuePlakText-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Plak Text';
    src: url('NeuePlakText-SemiBoldItalic.woff2') format('woff2'),
        url('NeuePlakText-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Plak Text';
    src: url('NeuePlakText-SemiBold.woff2') format('woff2'),
        url('NeuePlakText-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Plak Text';
    src: url('NeuePlakText-ThinItalic.woff2') format('woff2'),
        url('NeuePlakText-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Plak Text';
    src: url('NeuePlakText-Thin.woff2') format('woff2'),
        url('NeuePlakText-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

